<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>LXGWWenKaiTC-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>將你選擇分享的卡片圖片儲存到照片。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>用說的加持股:錄下你的語音,在手機上直接轉成文字,錄音不會上傳。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>把你的語音在 iPhone 上轉成文字,AI 只會收到文字內容,錄音不會離開你的手機。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.155358777599-a0lp1l2leen45l2ak9h5p76bmlfiqtfo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
