<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXF4uP_LJd4G_XSvptAAOTyCp458IwYPg</string>
	<key>GCM_SENDER_ID</key>
	<string>668095842210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wbilly.StockMoodApp</string>
	<key>PROJECT_ID</key>
	<string>stock-ae22c</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-ae22c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668095842210:ios:4c3c9e6dabf24de07354fb</string>
</dict>
</plist>